#car,
#enemy {
  display: none;
}
canvas {
  display: block;
  margin: auto;
  border: 1px solid gray;
}
#scorecard {
  position: absolute;
  top: 4%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}

#restart {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.game-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#start {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
